# PGADMIN 4 SETUP
PGADMIN_DEFAULT_EMAIL=YOUR-PGADMIN-EMAIL
PGADMIN_DEFAULT_PASSWORD=YOUR-PGADMIN-PASSWORD

# DEPLOYMENT INFORMATION
REMOTE_SERVER=YOUR-REMOTE-SERVER
REMOTE_PATH=YOUR-REMOTE-PATH
DOMAIN=YOUR-DOMAIN
CERTBOT_EMAIL=YOUR-EMAIL
CLOUDFLARE_API_TOKEN=YOUR-CLOUDFLARE-API-TOKEN
PRINT_FOLDER_PATH=YOUR-PRINT-FOLDER-PATH
BACKUP_FOLDER_PATH=YOUR-BACKUP-FOLDER-PATH
DEPLOY_DOCKER_IMAGE=YOUR-BACKEND-DOCKER-IMAGE

# OUTBOUND DOCKER PORTS
DEPLOY_HTTP_PORT=27080
DEPLOY_HTTPS_PORT=27443