# BACKEND & DB CONFIG
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=123
POSTGRES_DB=invoice_db
PORT=8090

# SECRET
JWT_SECRET=generate_key_from_generate_file
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
GEMINI_API_KEY=YOUR_GOOGLE_AI_API_KEY
MAIL_USER=YOUR_GOOGLE_MAIL_USER
MAIL_PASSWORD=YOUR_GOOGLE_MAIL_APP_PASSWORD

# R2 BACKUP CONFIG
R2_TOKEN_VALUE=YOUR_CLOUDFLARE_R2_TOKEN_VALUE
R2_ACCESS_KEY_ID=YOUR_R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=YOUR_R2_SECRET_ACCESS_KEY
R2_ENDPOINTS=https://YOUR_CLOUDFLARE_ACCOUNT_ID.r2.cloudflarestorage.com
R2_BUCKET_NAME=YOUR_R2_BUCKET_NAME

# ADMIN ACCOUNT FIRST SETUP
ADMIN_PASSWORD=YOUR_BACKEND_ADMIN_PASSWORD

# Global Settings
DEFAULT_MAIL=YOUR_DEFAULT_MAIL
COMPANY_NAME=YOUR_COMPANY_NAME
PHONE_NUMBER=YOUR_PHONE_NUMBER

# development or production
APP_ENV=development